Victor Schubert <victor@trackit.io> <v@schu.be>
Victor Giubilei <victor.g@trackit.io> <giubil@users.noreply.github.com>
Victor Giubilei <victor.g@trackit.io> <Victor.giubilei@gmail.com>
Thibaut Cornolti <thibaut@trackit.io> <thibaut@cornolti.eu>
Thibaut Cornolti <thibaut@trackit.io> <mega-lol@live.fr>
