version: 2
jobs:
  build:
    working_directory: /go/src/github.com/trackit/trackit
    docker:
      - image: msolution/trackit2-circleci
    branches:
      only:
        - stg
        - master
    steps:
      - checkout
      - run:
          name: Get dependencies with govendor
          command: |
            set -xe
            govendor sync -v
      - run:
          name: Build portable binary
          command: |
            set -xe
            cd server/
            ./buildstatic.sh
      - setup_remote_docker
      - run:
          name: Copy SQL schema
          command: |
            set -xe
            pushd scripts
            ./copy_schema.sh
            popd
      - run:
          name: Build SQL Docker image
          command: |
            set -xe
            CONTAINER_NAME=msolution/stg-trackit2-sql
            if [ "$CIRCLE_BRANCH" == "master" ];
            then
              CONTAINER_NAME=msolution/trackit2-sql
            fi
            docker build -t $CONTAINER_NAME docker/sql/
      - run:
          name: Build API Docker image
          command: |
            set -xe
            CONTAINER_NAME=msolution/stg-trackit2-api
            if [ "$CIRCLE_BRANCH" == "master" ];
            then
              CONTAINER_NAME=msolution/trackit2-api
            fi
            docker build -t $CONTAINER_NAME docker/server/
      - run:
          name: Login to Docker Hub
          command: |
            set -e
            docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
      - run:
          name: Push SQL Docker image
          command: |
            set -xe
            CONTAINER_NAME=msolution/stg-trackit2-sql
            if [ "$CIRCLE_BRANCH" == "master" ];
            then
              CONTAINER_NAME=msolution/trackit2-sql
            fi
            docker tag $CONTAINER_NAME $CONTAINER_NAME:${CIRCLE_SHA1}
            docker push $CONTAINER_NAME
            docker push $CONTAINER_NAME:${CIRCLE_SHA1}
      - run:
          name: Push API Docker image
          command: |
            set -xe
            CONTAINER_NAME=msolution/stg-trackit2-api
            if [ "$CIRCLE_BRANCH" == "master" ];
            then
              CONTAINER_NAME=msolution/trackit2-api
            fi
            docker tag $CONTAINER_NAME $CONTAINER_NAME:${CIRCLE_SHA1}
            docker push $CONTAINER_NAME
            docker push $CONTAINER_NAME:${CIRCLE_SHA1}

# vim: set ts=2 sts=2 et:
