/* Hide separator for last item in list */
ul.accounts-list div:last-child li,
ul.accounts-list > li:last-child,
ul.bills-list div:last-child li,
ul.bills-list > li:last-child,
ul.status-list div:last-child li,
ul.status-list > li:last-child,
ul.viewers-list div:last-child li,
ul.viewers-list > li:last-child {
	border-bottom: none;
}

.accounts-list .account-name,
.viewers-list .viewer-name {
	font-size: 20px;
}

.accounts-list .actions,
.bills-list .actions,
.viewers-list .actions {
	display: inherit;
}

.input-title {
	display: flex;
}

.dialog-title {
	margin: 0;
}

.dialog-title-children {
	float: right;
}

.status-list {
	max-height: 500px;
	overflow-y: scroll;
}

.status-list .status-list-item{
	display: block;
}

.status-list .status-list-item h3,
.status-list .status-list-item h4,
.status-list .status-list-item h5 i,
i.white-box-title-icon {
	color: #d6413b;
}

.viewer.badge {
	background: #4885ed;
	margin: 0 10px;
	padding: 5px 10px;
}

.account-badge {
	font-size: 1.5em;
}

.account-badge.fa-times-circle {
	color: #d6413b;
}

.account-badge.fa-clock-o {
	color: #ffa000;
}

.account-badge.fa-check-circle {
	color: #88cc22;
}
