/* Hide separator for last item in list */
ul.accounts-list div:last-child li,
ul.accounts-list > li:last-child,
ul.bills-list div:last-child li,
ul.bills-list > li:last-child {
	border-bottom: none;
}

.accounts-list .account-name {
	font-size: 20px;
}

.accounts-list .actions,
.bills-list .actions {
	display: inherit;
}

.input-title {
	display: flex;
}

.dialog-title {
	margin: 0;
}

.dialog-title-children {
	float: right;
}
