/* Hide separator for last item in list */
ul.accounts-list div:last-child li,
ul.accounts-list > li:last-child,
ul.bills-list div:last-child li,
ul.bills-list > li:last-child,
ul.status-list div:last-child li,
ul.status-list > li:last-child,
ul.viewers-list div:last-child li,
ul.viewers-list > li:last-child {
	border-bottom: none;
}

.accounts-list .account-name,
.viewers-list .viewer-name {
	font-size: 20px;
}

.accounts-list .actions,
.bills-list .actions,
.viewers-list .actions {
	display: inherit;
}

.input-title {
	display: flex;
}

.dialog-title {
	margin: 0;
}

.dialog-title-children {
	float: right;
}

.status-list .status-list-item{
	display: block;
}

i.white-box-title-icon {
	color: #d6413b;
}

.viewer.badge {
	background: #4885ed;
	margin: 0 10px;
	padding: 5px 10px;
}