/* Hide separator for last item in list */
ul.MuiList-root-10 div:last-child li,
ul.MuiList-root-10 li:last-child {
	border-bottom: none;
}

.accounts-list .MuiListItemText-root-24 {
	font-size: 20px;
}

.input-title {
	display: flex;
}

.dialog-title {
	margin: 0;
}

.dialog-title-children {
	float: right;
}
