body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Open sans', sans-serif;
    background: #edf1f5 !important;
}

.dollar-sign,
.percent-sign {
    color: #bbbbbb;
}

.percent-bold {
    font-weight: 500;
}

.badge {
  background-color: #d6413b;
  color: white;
  font-weight: 400;
}

.card-label {
  color: #808080;
  font-weight: 300;
}

.in-col {
    list-style: none;
    padding: 0;
    margin: 0;
}

.in-col li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.total-cell .dollar-sign {
    color: #1e88e5;
}

.font-light-medium {
  font-weight: 500 !important;
}

.font-light {
  font-weight: 300 !important;
}

select {
  height: 34px;
  background: white;
  border: 1px solid #4885ed;
  color: #4885ed;
}

select,
.table-toggle {
    margin: 0 10px;
}

.row-eq-height {
    display: flex;
}

/* BORDERS */

.br {
    border-right: 1px solid rgba(120, 130, 140, .13);
}

.bl {
    border-left: 1px solid rgba(120, 130, 140, .13);
}

.bt {
    border-top: 1px solid rgba(120, 130, 140, .13);
}

.bb {
    border-bottom: 1px solid rgba(120, 130, 140, .13);
}


/* BUTTONS */

button {
    font-family: 'Rubik', 'Open sans', sans-serif;
}

.btn-default, .btn-default:focus, .btn-default:hover {
    color: #4885ed;
    background-color: #fff;
    border-color: #4885ed;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover {
    color: white;
    background-color: #4885ed;
    border-color: #4885ed;
}

.btn-danger, .btn-danger:focus, .btn-danger:hover {
    color: #d9534f;
    background-color: #fff;
    border-color: #d9534f
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.no-click, .no-click:active, .no-click:focus, .no-click:hover, .no-click:active:focus, .no-click:active:hover {
    color: #4885ed;
    background-color: #fff;
    border-color: #4885ed;
    box-shadow: none;
}

/* COLORS */

.red-color {
    color: #d6413b;
}

.red-bg {
    background-color: #d6413b;
}

.orange-color {
    color: #ff9800;
}

.orange-bg {
    background-color: #ff9800;
}

.green-color {
    color: #4caf50;
}

.green-bg {
    background-color: #4caf50;
}

.blue-color {
    color: #1e88e5;
}

.blue-bg {
    background-color: #1e88e5;
}

.purple-color {
    color: #9C27B0;
}

.purple-bg {
    background-color: #9C27B0;
}


/* WHITE BOX */

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.white-box .white-box-title {
    margin: 0px;
    padding-bottom: 20px;
}

.white-box.no-padding {
    padding: 0px;
}

.white-box.no-padding .white-box-title {
    margin: 0px;
    padding: 20px;
}

.white-box-title .white-box-title-icon {
    width: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 7px;
    margin-top: 2px;
}

.form-control {
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
}

label {
    font-weight: 500;
}


/* Overriding React Table styling */

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    -webkit-box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
    box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
}

.ReactTable strong {
    font-weight: 500;
}

.ReactTable .-pagination .-btn {
    color: #1e88e5;
}


/* Dropdown menus */

.dropdown-menu>li>a, .dropdown-menu>li>.dropdown-title {
    padding: 9px 20px;
}

.dropdown-menu {
    border: 1px solid rgba(120, 130, 140, .13);
    border-radius: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .05)!important;
    -webkit-box-shadow: 0!important;
    -moz-box-shadow: 0!important;
    padding-bottom: 8px;
    margin-top: 0;
}

/* Spinner */

.spinner {
    margin: auto;
}

/* S3 Analytics */
.s3analytics.piechart h2 {
    text-transform: capitalize;
    text-align: center;
	font-size: 22px;
}

/* Dashboard */
.dashboard-item {
    padding: 5px;
}

.dashboard-item-content {
    padding: 25px;
}

.dashboard-btn-group {
    margin-left: 20px;
}

.dashboard-btn-group-title {
    margin-right: 10px;
}

.dashboard-btn-group-title img,
.dashboard-item-icon img {
    height: 20px;
}

.dashboard-btn-group-title i,
.dashboard-item-icon i {
    font-size: 20px;
}

.dashboard-item-icon {
    margin: 5px;
    float: left;
    color: #bbb;
}

h4.no-data {
    text-align: center;
    margin-top: 25px;
}

.dashboard-item-content .popover-trigger {
    margin: 0 10px;
    font-size: 20px;
}

/* Cost Breakdown */

.cost-breakdown-chart-icon {
    font-size: 20px;
    font-weight: 200;
}

/* Resources Map */

#map {
    position: relative;
    height: 600px;
}

#map svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#tooltip_map {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Rubik', 'Open sans', sans-serif;
    font-weight: 500;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5)!important;
    border: 1px solid #cccccc;
}

.tooltip-header > *,
.tooltip-cost > * {
    display: inline-block;
}

.tooltip-header {
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.tooltip-header i.fa.fa-globe {
    color: #d9534f;
    font-size: 2.5em;
    margin-right: 10px;
}

.tooltip-cost {
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
}

.tooltip-cost span {
    margin-right: 10px;
}

.tooltip-help {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 0.9em;
    padding: 0 10px;
    font-style: italic;
    text-align: center;
}

.map-empty-selection {
    font-size: 1.5em;
}

.map-empty-selection i {
    color: #d9534f;
}

.row-regions-details {
    margin: 0;
}

.region-details:first-child {
    margin-left: 0 !important;
    margin-right: 15px;
}

.region-details:last-child {
    margin-left: 15px;
    margin-right: 0;
}

.region-details .header {
  height: 10px;
}

.region-info .info {
    text-align: center;
}

.region-name {
    text-align: center;
}

.zone-item {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.zone-item:last-child {
    border-bottom: none;
}

.zone-name {
    font-size: 1.3em;
}

.zone-products {
    padding: 10px;
    padding-bottom: 0;
}

.zone-products {
    padding: 10px;
    padding-bottom: 0;
}
