body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Open sans', sans-serif;
    background: #edf1f5 !important;
}

.dollar-sign {
  color: #bbbbbb;
}
.total-cell .dollar-sign {
  color: #1e88e5 ;
}

/* BUTTONS */

button {
    font-family: 'Rubik', 'Open sans', sans-serif;
}

.btn-default, .btn-default:focus, .btn-default:hover {
    color: #4885ed;
    background-color: #fff;
    border-color: #4885ed;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover {
    color: white;
    background-color: #4885ed;
    border-color: #4885ed;
}

/* COLORS */

.red-color {
    color: #d6413b;
}

.red-bg {
    background-color: #d6413b;
}

/* MARGIN AND PADDING HELPERS */

.m-b-0 {
    margin-bottom: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.m-t-0 {
    margin-top: 0px;
}

.m-r-0 {
    margin-right: 0px;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}
.white-box .white-box-title {
  margin: 0px;
  padding-bottom: 20px;
}
.white-box.no-padding {
  padding: 0px;
}
.white-box.no-padding .white-box-title {
  margin: 0px;
  padding: 20px;
}
.white-box-title .white-box-title-icon {
  width: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 7px;
  margin-top: 2px;
}

.form-control {
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
}

label {
  font-weight: 500;
}


/* Overriding React Table styling */

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    -webkit-box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
    box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
}

.ReactTable strong {
  font-weight: 500;
}

.ReactTable .-pagination .-btn {
  color: #1e88e5;
}

/* Dropdown menus */

.dropdown-menu>li>a, .dropdown-menu>li>.dropdown-title {
    padding: 9px 20px;
}

.dropdown-menu {
    border: 1px solid rgba(120, 130, 140, .13);
    border-radius: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .05)!important;
    -webkit-box-shadow: 0!important;
    -moz-box-shadow: 0!important;
    padding-bottom: 8px;
    margin-top: 0;
}
