body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Open sans', sans-serif;
    background: #edf1f5 !important;
}

button {
    font-family: 'Rubik', 'Open sans', sans-serif;
}

.red-color {
    color: #d6413b;
}

.red-bg {
    background-color: #d6413b;
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.m-t-0 {
    margin-top: 0px;
}

.m-r-0 {
    margin-right: 0px;
}


/* Overriding React Table styling */

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    -webkit-box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
    box-shadow: inset 0 3px 0 0 rgba(213, 65, 60, 1);
}

/* Dropdown menus */

.dropdown-menu>li>a, .dropdown-menu>li>.dropdown-title {
    padding: 9px 20px;
}

.dropdown-menu {
    border: 1px solid rgba(120, 130, 140, .13);
    border-radius: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .05)!important;
    -webkit-box-shadow: 0!important;
    -moz-box-shadow: 0!important;
    padding-bottom: 8px;
    margin-top: 0;
}
