@media (min-width: 991px) {
  .br-md {
      border-right: 1px solid rgba(120, 130, 140, .13);
  }

  .bl-md {
      border-left: 1px solid rgba(120, 130, 140, .13);
  }

  .bt-md {
      border-top: 1px solid rgba(120, 130, 140, .13);
  }

  .bb-md {
      border-bottom: 1px solid rgba(120, 130, 140, .13);
  }

}
