.account-wizard-stepper .account-wizard-stepper-item.completed svg,
.account-wizard-stepper .account-wizard-stepper-item.current svg circle {
	fill: #4885ed;
}

.account-wizard-stepper .account-wizard-stepper-item svg text {
	font-size: 0.8em;
}

.account-wizard-stepper .account-wizard-stepper-item p {
	font-size: 1em;
}

.step .btn-group {
	padding: 0;
}

.step .btn-group button {
	width: 50%;
}

.picture img {
	width: 100%;
}

.picture i.close {
	font-size: 2em;
	margin-top: -25px;
	margin-right: -20px;
}

.tutorial {
	margin-bottom: 25px;
}

.tutorial li {
	margin-bottom: 10px;
}

.tutorial .picture-preview strong {
	color: #4885ed;
}

.tutorial .picture-preview strong,
.tutorial .badge {
	cursor: pointer;
}

.tutorial strong.value {
	font-weight: 500;
}

.tutorial .badge {
	background: #4885ed;
	margin: 0 10px;
	padding: 5px 10px;
}

.tutorial .badge:active {
	opacity: 0.8;
}
